.form{
    font-size: 95%;
    height: 40px;
    
}
.fecha {
   
    height: 500px;
   
  
}
.text2{
    font-size: 80%;
    color: #333;
    text-align: right;
}
.barra{
   
            color : #817d7d;
            padding : 5px;
            width : 100%;
            height :100px;
           
}
.enviar {
    background-color: rgba(221, 88, 39, 0.685);
    text-align: center;
    float: right;
    font-size: 100%;
    color: aliceblue;
    width: 10%;
    height: 50px;

}

.img{
    
    text-align: center;
}
#nomina
{
    color:orangered;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}
.texto {
    font-family: inherit;
    font-size: 90%;
    color: rgb(128, 110, 110);
}
.mes {
    
    border-right: .11rem solid #c9c9c9;
    color: #333;
    font-family: inherit;
   text-align: center;
  width: 30%;
  height: 40px;
}
.dia{
    border-right: .11rem solid #c9c9c9;
    color: #333;
   
    text-align: center;
    width: 30%;
    height: 40px;
    font-family: inherit;
}
.ano{
    border-right: .11rem solid #c9c9c9;
    color: #333;
    
    text-align: center;
    width: 30%;
    font-family: inherit;

    height: 40px;

table {
    width: 100%;
    height: 2000;
}
.trat{
    position: absolute;
}
.fondotabla{
    border-collapse: "collapse" ;
   
    background-clip: border-box;
  
}
.pais { background-color: rgba(197, 197, 197, 0.295);
   
}
select {
    width:160px ;
    font-size: 90%;
    height: 25px;
}
.textfin{
    font-size: 100%;
    color: gray;
}
.fondotabla2{
background-color:  rgba(197, 197, 197, 0.329);
}
.continuar {
    float: right;
}